html, body {
    /*width: 100%;
    height: 100%;*/
    background: #222;
    color: #eeeeee;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

a {
    color: #bbbbff;
}

input {
    color: #222;
}

hr {
    border: none;
    border-top: 1px solid #444;
}

table {
    background: #303030;
}

webview {
    width: 100%;
    height: 95vh;
    overflow: auto;
}

.webview-container {
    width: 100%;
    height: auto;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color:white;
}

.button-secondary {
    background: rgb(5, 210, 220); /* this is a blueish */
    color:white;
}

#content {
    padding-left: 180px; /* same as menu +20*/
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login {
    margin: 60px auto;
    width: 400px;
}
    #login img {
        margin-bottom: 20px;
    }

#about {
    font-size: 18px;
}

#board {
    cursor:pointer;
    text-align: center;
}

#gamebuttons {
    text-align: center;
	line-height: 34px;
}

#gamecomment {
    width: 100%;
    font-style: italic;
}

.pure-form fieldset {
    padding: 1px;
}

.gameinfo {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5000;
    width: 150px;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    background: #1f6da6;
    color: #eeeeee;
}
    .gameinfo hr {
        border: none;
        border-top: 1px solid #ddd;
    }
    .gameinfo h4 {
        margin: 5px 0;
        text-align: center;
    }

.gamemessage {
    font-weight:bold;
}

/* menu */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active #menu {
        left: 160px;
        width: 160px;
    }

    #layout.active .menu-link {
        left: 160px;
    }


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: 0px; /* "#menu" width */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 100%;
        color: #fff;
        margin: 0;
        text-transform: none;
        text-align: right;
        padding-bottom: 12px;
        padding-right: 6px;
        font-weight: bold;
        font-style: italic;
    }
        #menu .pure-menu-heading img {
            width: 84px;
            float: left;
        }
